AZURE_REGION="westus3"
AZURE_SUFFIX=[to be filled: 4 digits]
AZURE_SUBSCRIPTION_ID=[to be filled: GUID]
AZURE_TENANT_ID=[to be filled: GUID]
AZURE_ENVIRONMENT=dev
AZURE_DEFAULT_PURVIEW_RESOURCE_GROUP=""
AZURE_DEFAULT_DATASOURCE_RESOURCE_GROUP=""